body {
    background: #777;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
}

.cards {
    display: flex;
    
}
.card {
    background: white;
    border-radius: 1rem;
    padding: 2rem;
    margin-left: -5rem;
    box-shadow: 4px 4px 12px 2px;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-1rem);
}
.card:hover ~ .card {
    tranform-translateX(4rem);
}